.side-bar
  .side-header
    .side-header__box
      .side-header__box__user-name
        masa
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-grop
          =link_to "#" do
            = icon 'fas', 'edit', class: "icon"
        %li.side-header__box__menu__edit-user
          =link_to "#" do
            = icon 'fas', 'cog', class: "icon"
  .groups
    .group
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません
    .group
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません