* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  height: 100vh;
}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #fff;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__menber-list {
        display: flex;
        font-size: 12px;
        color: #999999;
        &__menber {
          margin-left: 0.3rem;
        }
      }
    }
    &__edit {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
      color: #38aef0;
      text-decoration: none;
    }
  }
  .messages {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        &__talker {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    .new-message {
      height: 50px;
      float: left;
      width: calc(100% - 150px);
      padding: 0 40px 0 10px;
      color: #434a54;
      border-style: none;
    }
    .input-box {
      float: left;
      height: 50px;
      background-color: white;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
        &__file {
          display: none;
        }
      }
    }
    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 15px 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
      float: right;
    }
  }
}