.side-bar {
  width: 300px;
  color: white;
  .side-header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__menu {
        display: flex;
        color: white;
        &__new-group {
          margin-left: 0.3rem;
        }
        &__edit-user {
          margin-left: 0.3rem;
        }
      }
    }
    .icon {
      color: white;
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    .group {
      margin-bottom: 40px;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message {
        font-size: 11px;
      }
    }
  }
}